progress-bar {
    
       .progress-outer {
           width: 100%;
           padding: 0;
           text-align: center;
           background-color: #cccccc;
           border: 1px solid #cccccc;
           color: #ffffff;
       }
    
       .progress-inner {
           min-width: 15%;
           white-space: nowrap;
           overflow: hidden;
           padding: 5px;
           background-color: map-get($colors, colBlue);
       }
    
   }
